flask
flask-jwt-extended
flask-marshmallow
marshmallow
passlib
python-dotenv
flask-cors
pytz
flask-limiter
tensorflow
numpy
pillow
opencv-python
scikit-learn
mongoengine
redis
gunicorn
requests 
user-agents
cmake
dlib
face_recognition
matplotlib
mtcnn
opencv-python 
realesrgan 
basicsr